/*Оформление элементов сайта*/

html, body {
	min-width: 260px;
}

html, body #header {
	min-width: 260px;
}

.width_940 {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
/*HEADER*/
/*=======================================================*/
#header {
	height: 96px;
}	
#header, #portfolio, #footer {
	background: #303441;
	color: #666d89;
	border-bottom: 6px solid #373b4a;
}

#logo {
	float: left;
	font-size: 25px;
	font-family: "latobold";
	color: #ffffff;
	margin: 29px 0px 0px;
}

#logo span, #slider span {
	color: #ee5052;
}

.ul {
	display: inline-block;
	float: right;
	font-size: 12px;
	font-family: "latobold";
}

#header ul li {
	margin-top: 52px;
	padding-left: 29px;
	font-family: "latobold";
	font-size: 12px;
}

a {
	color: #ffffff;
}

#header a:active {
	color: #ee5052!important;
}


/*нейтрализую не нужные стили с bootstrap.css */
#header a:hover, a:focus {
	color: #fda5a8;
	text-decoration: none;
}

#header a {
	-webkit-transition: color 0.3s, border-color 0.3s;
			transition: color 0.3s, border-color 0.3s;
}


.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #303441;
}

.nav-tabs > li > a {
  margin-right: 0;
  line-height: 0;
  border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #eb5055!important;
  background-color: #303441!important;
  border: none;
  border-bottom: 1px dotted #eb5055;
  -webkit-transition: color 0.8s 0.1s;
 		  transition: color 0.8s 0.1s;
}

.nav-tabs {
  border-bottom: none;
}

.navbar-nav {
	float: right;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.nav > li > a {
	padding: 0px 0px 15px 0px;
}
.navbar-toggle {
	padding: 5px 5px;
	margin-top: 10px;
	margin-right: 0;
}

.navbar .navbar-header .navbar-toggle,
.navbar .navbar-header .navbar-toggle:hover {
	background-color: #DDD;	
}

.navbar .navbar-header .collapsed {
	background-color: #303441;
}

/*конец нейтрализации стилей*/

/* Slider */
/*========================================================*/

#slider, #contact {
	overflow: hidden;
	margin-top:96px;
	background: #eb5055;
	border-bottom: 6px solid #ea676b;
}

/*нейртализую и добавляю своего в плагине carousel*/
.carousel-inner > .item > img {
	margin: 16px auto;
}

.carousel-control {
	width: 0;
	top:50%;
	margin-top: -14px;
	font-size: 16px;
} 

.arrow {
	font-size: 30px;
	color: #ca4549;
	font-family: 'mfg_labs_iconsetregular';
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-control.right {
	right: 15px;
}
/*конец нейтрализации*/

#services, #about {
	background: #f2f2f2;
	color: #666d89;
	border-bottom: 6px solid #ffffff;
	overflow: hidden;
	padding-bottom: 40px;
}

/* service */
/*========================================================*/

h3 {
	margin: 0px 0px 21px 0px;
	padding-top: 61px;
	font-family: "latoblack";
	font-size: 30px;
}

.txt {
	font-family: "latolight";
	font-size: 18px;
	line-height: 30px;
}

.service-body {
	font-size: 0;
}

.service {
	width: 33%;
	margin-top: 18px;
	display: inline-block;
	vertical-align: top;
}

.service_last {
	margin-right: 0;
	margin-left: 0;
}

#services img {
	float: left;
	margin: 14px 0 37px 1%;
	width: 19%;
}
 
#services h5 {
	font-family: "latoblack";
	font-size: 18px;
	margin-top: 11px;
}

.service p{
	font-family: "latoregular";
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 3px;
	margin-right: 6%;
}

.service-txt-float-right {
	width: 75%;
	float: right;
}


/*нейтрализация буутстрапа*/
#services h5 {
	margin-bottom: 12px;
}

/* Portfolio */
/*========================================================*/

#portfolio {
	overflow: hidden;
}

#portfolio a {
	border: 1px solid #666D89;
	border-radius: 5px;
	padding: 4px 7px;
	margin-right: 1%;
	font-family: 'latoregular';
	font-size: 12px;
	color: #666D89;
	-webkit-transition: all, 0.2s;
			transition: all, 0.2s;
}

#portfolio a:hover {
	border: 1px solid #d3d3d3;
	color: #d3d3d3;
	text-decoration: none;
}

#portfolio a:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.825);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.825);
}

#portfolio .light_font {
	border: 1px solid #ffffff;
	color: #ffffff;
}

#portfolio .body_img a, #portfolio .body_img a:hover {
	border: none;
	padding: 0; 
	font-size: 0;
}

.portfolio_img {
	display: inline-block;
	margin-top: 15px;
	width: 23%; 
	position: relative;
}

/*TODO: add top & left*/
.hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 450ms ease-out 0s;
			transition: all 450ms ease-out 0s;
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	        transform: rotateY(180deg) scale(0.5,0.5);
}

.portfolio_img:hover .hover-wrap,
.person_img:hover .hover-wrap {
	opacity: 1;
	-webkit-transform: rotateY(0deg) scale(1,1);
	        transform: rotateY(0deg) scale(1,1);
}

.portfolio_img img {
	width: 100%;
}

.overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	background: #DE5E60;
	opacity: 0.8;
}

.overlay-img-thumb {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	margin-left: -16px;
	color: #FFF;
	font-size: 32px;
	line-height: 1px;
	opacity: 1;
	font-family: 'latolight'
}

.body_img {
	display: none;
	font-size: 34px;
	margin-bottom: 63px;
	text-align: center;
}

.opacity {
	opacity: 0.5;
}

.default_cursor a{
	cursor: default;
}

#select_categoryPortfolio {
	margin-bottom: 10px;
}


/* About */
/*========================================================*/

#about {
	/*для того чтобы контент появлялся полностью убираем высоту*/
	/*height: 734px;*/
}

.person .overlay-img-thumb {
	top: 89%;
	float: right;
	right: 16%;
	font-size: 38px;
}

.person {
	display: inline-block;
	width: 31%;
	margin-top: 34px;
	margin-right: 1.7%;
	vertical-align: top;
}

.person_last {
	margin-right: 0px;
}

.person_img {
	display: inline-block;
	margin-top: 20px;
	margin-right: 1.8%;
	width: 100%; 
	position: relative;
}

.person img {
	width: 100%;
}

.person h5 {
	margin-top: 16px;
	font-family: "latoblack";
	font-size: 18px;
}

.person p {
	font-family: "latoregular";
	font-size: 12px;
}

.social_icon {
	text-align: left;
	margin-top: 16px;
	font-size: 0;
}

.social_icon span {
	border: 1px solid #666D89;
	border-radius: 53px;
	margin-right: 3%;
	font-size: 15px;
	padding: 7px;
	font-family: "pictonic";
	-webkit-transition: color 0.4s, background 0.5s;
			transition: color 0.4s, background 0.5s;
}

.social_icon_float_right span{
	margin-right: 1%;
}

.social_icon span:last-child {
	margin-right: 0;
}

/* Contact */
/*========================================================*/

#contact {
	margin-top: 0;
	overflow: hidden;
	color: #f0d8d9;
}

.contact_bottom {
	margin-top: 42px;
}

#fields {
	width: 65%;
	float: left;
}

#contact input, #contact textarea {
	height: 38px;
	width: 100%;
	border-radius: 6px;
	border: none;
	background: #ca4549;
	padding-left: 15px;
	font-family: "latoregular";
	font-size: 12px;
	margin-bottom: 16px;
}

#contact textarea {
	height: 202px;
	padding-top: 9px;
	resize: vertical;
}

#contact input[type="submit"] {
	width: 17%;
	float: right;
	padding: 0px;
	color: #f1878a;
}

/*как реагирует кнопка "Send"*/
/*TODO: прогнать box-shadow и остальные CSS3 через тот сайт*/
#contact input[type="submit"]:hover {
	color: #9E3639;
	background-color: #f2f2f2;
	-webkit-box-shadow:  1px 3px 10px #9e3639;
	        box-shadow:  1px 3px 10px #9e3639;
	font-size: 16px;
	font-family: "latoregular";
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder { 
	color: #f1878a;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover,
#contact input[type="text"]:focus,
#contact input[type="email"]:hover,
#contact textarea:focus {
	border: 1px solid #FF8073;
	outline: none;
}

.contact {
	display: inline-block;
	width: 31%;
	margin-left: 2.5%;
	font-size: 12px;
}

.contact h5 {
	margin: 0 0 2% 0;
	font-family: "latoblack";
	font-size: 18px;
}

.information {
	margin-top: 25px;
	width: 100%;
}

.information span {
	font-size: 12px;
	float: left;
	margin-top: 2px;
}

.information p {
	display: inline-block;
	margin: 0 0 0 3%;
	width: 87%;
}

/*нейтрализация бутстрапа, убираем курсор:поинтер*/
.btn {
	cursor: text;
}

.btn:active, .btn.active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}
/*конец нейтрализации бутстрапа*/
#contact input[type="submit"] {
	-webkit-transition: all, 0.2s;
			transition: all, 0.2s;
}


#contact input[type="submit"]:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.446);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.446);
}


/* Footer */
/*========================================================*/

#footer {
	border-bottom: none;
	overflow: hidden;
	padding-bottom: 18px;
	padding-top: 10px;
}

#footer p {
	display: inline-block;
	margin-top: 6px;
	font-size: 12px;
	float: left;
}

.social_icon_float_right {
	text-align: right;
	margin-top: 12px;
}
.social_icon_float_right span {
	color: #666D89
}

.social_icon span:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.825);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.825);
}


.icon-facebook:hover {
	background-color: #314a87;
}
.icon-google__x2B_:hover {
	background-color: #d13e2f;
}
.icon-twitter-3:hover {
	background-color: #22bbf4;
}
.icon-linkedin:hover {
	background-color: #006dc0;
}

.person a {
	text-decoration: none;
	color: #666D89;
}

.social_icon span:hover {
	border: none;
	color: #ffffff;
	padding: 8px;
}

.error {
	display: none;
	margin: -13px 0 12px 17px;
	color: #000;
}

/*Изменение пути к папке со спрайтом*/

 #fancybox-loading,.fancybox-overlay  .fancybox-close, .fancybox-overlay .fancybox-prev span, .fancybox-overlay  .fancybox-next span {
	background-image: url(../images/vendor/fancyBox/fancybox_sprite.png);
}

 #fancybox-loading div {
	background: url(../images/vendor/fancyBox/fancybox_loading.gif) center center no-repeat;
}

 .fancybox-nav {
	background: transparent url(../images/vendor/fancyBox/blank.gif); /* helps IE */
}

.fancybox-overlay {
	background: url(../images/vendor/fancyBox/fancybox_overlay.png);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(../images/vendor/fancyBox/fancybox_sprite@2x.png);
	}

	.fancybox-loading div {
		background-image: url(../images/vendor/fancyBox/fancybox_loading@2x.gif);
	}
}